<% destinations = ["Mexico City", "Charleston", "Beijing", "Amsterdam"] %>

<h1> Places I've Been! </h1>

<ul>
  <% for destination in destinations %>
    <li><%= destination %></li>
  <% end %>
</ul>

<p> New Place </p>